* {box-sizing: border-box}

body{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background-image: url('../images/background_beach.jpg');
}

img {
    width: 100%;
}

h1{
    background-color: rgba(255, 255, 255, 0.758);
    color: rgb(238,44,130);
    padding: 2%;
    border-radius: 3px;
}

h2{
    color: rgb(238,44,130);
    background-color: rgba(255, 255, 255, 0.758);
    padding: 2%;
    border-radius: 3px;
    margin: 1% 0%;
}

.rastit {
    text-align: left;
}

.grid-container{
    display: grid;
    grid-template-columns: 89% 10%;
    grid-template-rows: repeat(13, 1fr) ;
    width: 98%;
    line-height: 1;
    grid-gap: 1%;
    padding: 1%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13%;
}

.grid-container > div {
    background-color: rgba(255, 255, 255);
    text-align: left;
    font-size: 4vw;
    padding: 1%;
  }