body {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p {
    float: left;
    text-align: justify;
}

img {
    width: 200px;
    height: 180px;
}

header {
    margin-top: 55px;
}

h1 {
    font-size: 25px;
}

button a {
    color: black;
}

nav {
    color: white;
    width: 80%;
    position: fixed;
    z-index: 1;
    padding: 5px;
}

li a {
    color: white;
}

span {
    padding: 10px;
}

