body {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100px;
    height: 100px;
}

h1 {
    font-size: large;
}

nav {
    background-color: black;
    color: white;
}

nav li {
    display: inline-block;
}


