.eläin {
    max-width: 80%;
    height: 100px;
}

.banner {
    max-width: 100%;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.row {
    text-align: center;
    border: 1px solid black;
}