* {box-sizing: border-box;}

body {
    font-family: Arial;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    padding: 1%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: black;
    color: white;
}

section {
    float: left;
    width: 100%;
    padding: 2%;
    text-align: justify;
}

.sec2 {
    width: 80%;
}

hr {
    width: 100%;
}

footer {
    float: left;
    padding: 1%;
    width: 100%;
}

nav {
    text-align: center;
    width: 100%;
}

aside {
    float: left;
    padding: 2%;
    width: 20%;
    background-color: rgb(200, 191, 231);
}

img {
    width: 100%;
    height: auto;
}

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }