* {box-sizing: border-box;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }

    nav {
        font-size: 12px;
    }
}

body {
    font-family: Arial;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    padding: 1%;
}

 nav a:hover {
    background-color: pink;
}

section {
    width: 100%;
    padding: 2%;
}

.sec {
    text-align: justify;
}

hr {
    width: 100%;
}

footer {
    padding: 1%;
    width: 100%;
}

aside {
    padding: 5%;
    width: 100%;
}

.suola {
    background-color: rgba(180, 230, 29, 0.397);
}

.makeat {
    background-color: rgba(255, 192, 203, 0.507);
}

footer {
    background-color: pink;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.align {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.li {
    list-style-type: none;
}

li a {
    color: black;
    text-decoration: none;
}

.border {
    border: 5px solid black;
    padding: 3%;
    font-size: small;
    margin-bottom: 4%;
}

.aineet {
    text-decoration: 3px underline #b5e61d;
}

.aineet2 {
    text-decoration: 3px underline #ffc0cb;
}

nav {
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
}

h1 {
    color: white;
    width: 100%;
    height: 50px;
}